h1 {
    color: darkgrey;
    font-size: 48px;
    text-align: center;
    background-color: purple;
}
#dt {
    color: blue;
}
#dimmu {
    color: crimson;
}
#amorphis {
    color: darkgoldenrod;
}
/* showcase id-based styling */

.some-text-style {
    font-family: Helvetica;
    color: #ffbbcc
}
body {
    background-image: url(../images/metal-background-4.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;   
}
img{
    border-width: 10px;
    border-style: solid;
    border-color: purple;
    border-radius: 5px 10px 15px 20px;
    box-shadow: 20px 15px 10px rgb(158,12,158, 0.6);
    margin-top: 10px;
}